
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css"/>
    <script src="js/bootstrap.min.js"></script>
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <!--Ссылка на библиотеку SignalR -->
    <script src="/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/DrawFigure.js"> </script>
    <script src="~/Scripts/util.js"></script>
 
</head>
<body>
    <h2 class="text-center">Чат-комната<span class="glyphicon glyphicon-comment"></span></h2>

<div class="row">
    

    <div class="col-md-3 col-md-offset-1">

        <div class="main">
            <div id="loginBlock">
                Введите логин:<br/>
                <input id="txtUserName" type="text"/>
                <input id="btnLogin" type="button" value="Войти"/>
            </div>

            <div id="chatBody">
                <div id="header"></div>
                <div id="inputForm">
                    <input type="text" id="message" placeholder="Введите сообщение" autofocus required/>
                    <input type="button" id="sendmessage" value="Отправить" class="btn-danger"/>
                </div>
                <div  id="chatroom"></div>
                
               

            </div>
            <input id="hdId" type="hidden"/>
            <input id="username" type="hidden"/>
          
        </div>


    </div>
    <div id="chatusers" class="col-md-2">
        <p>
            <b>Все пользователи: </b>
            <br/>
            <span id="notification" style="color:#c93d19;font-size:15px;"></span>
        </p>
    </div>
    <div class="col-md-6 ">
        <div id="canvasBlock">
            <canvas id='drawingpad' width='600' height='400' style="border: 1px solid #000000;"></canvas>
            <br />
            <button type="button" value="Линия" class="btn-default" id="line"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" value="Квадрат" class="btn-default" id="square"><span class="glyphicon glyphicon-stop"></span></button>
            <input type="button" value="Очистить" class="btn-default" id="btnclear" />
            <br />

            <fieldset>
                <legend>Color</legend>
                <button type="button" class="btn-default" id="btnred" style="background-color: #FF0000"> <span class="glyphicon glyphicon-tint"></span></button>
                <button type="button" class="btn-default" id="btnblue" style="background-color: #000080"> <span class="glyphicon glyphicon-tint"></span></button>
                <button type="button" class="btn-default" id="btngreen" style="background-color: #008000"> <span class="glyphicon glyphicon-tint"></span></button>
            </fieldset>
        </div >
        </div></div>


</body>
</html>
